In [1]:
import pandas as pd
from textblob import TextBlob

In [2]:
maleDF = pd.read_csv("maleResults.txt",names=["text"])

In [3]:
maleDF['Sentiment'] = maleDF['text'].apply(lambda x: TextBlob(x))

In [4]:
maleDF['Sentiment'] = maleDF['Sentiment'].apply(lambda x : x.sentiment[0])

In [5]:
maleDF

                                                   text  Sentiment
0     He's a superhumanly strong devious photographe...   0.216667
1     He's a lounge-singing drug-addicted grifter wh...  -0.500000
2     He's a fiendish pirate stage actor with a pass...  -0.200000
3     He's an old-fashioned vegetarian jungle king p...  -0.875000
4     He's an immortal gay hairdresser haunted by me...   0.416667
...                                                 ...        ...
1045  He's a notorious chivalrous waffle chef on the...  -0.500000
1046  He's a benighted day-dreaming cop for the 21st...   0.000000
1047  He's a scrappy moralistic ex-con who knows the...  -0.325000
1048  He's a short-sighted overambitious librarian g...  -0.700000
1049  He's a lounge-singing umbrella-wielding househ...  -0.400000

[1050 rows x 2 columns]

In [8]:
maleDF=maleDF.sort_values('Sentiment',ascending=False)
maleDF.head(10)

                                                   text  Sentiment
166   He's a superhumanly strong skateboarding rock ...   0.433333
84    He's a superhumanly strong vegetarian vagrant ...   0.433333
585   He's a superhumanly strong flyboy romance nove...   0.433333
52    He's a superhumanly strong devious ex-con who ...   0.433333
1016  He's a superhumanly strong flyboy romance nove...   0.433333
451   He's a superhumanly strong misogynist cat burg...   0.433333
317        He's a one-legged gay farmboy with no name.    0.416667
890   He's a hate-fuelled gay photographer from a do...   0.416667
325   He's an all-American gay ex-con from the Missi...   0.416667
201   He's a jaded gay cat burglar from the Mississi...   0.416667