In [1]:
import pandas as pd
from textblob import TextBlob
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'
from collections import Counter

In [2]:
maleDF = pd.read_csv("maleResults.txt",names=["text"])
femaleDF=pd.read_csv("femaleResults.txt",names=["text"])

In [3]:
maleDF['Sentiment'] = maleDF['text'].apply(lambda x: TextBlob(x).sentiment[0])
femaleDF['Sentiment'] = femaleDF['text'].apply(lambda x: TextBlob(x).sentiment[0])

In [4]:
maleDF=maleDF.sort_values('Sentiment',ascending=False)
maleDF.head(10)
maleDF.tail(10)

                                                   text  Sentiment
166   He's a superhumanly strong skateboarding rock ...   0.433333
585   He's a superhumanly strong flyboy romance nove...   0.433333
52    He's a superhumanly strong devious ex-con who ...   0.433333
84    He's a superhumanly strong vegetarian vagrant ...   0.433333
451   He's a superhumanly strong misogynist cat burg...   0.433333
1016  He's a superhumanly strong flyboy romance nove...   0.433333
317        He's a one-legged gay farmboy with no name.    0.416667
651   He's a war-weary gay cowboy who must take medi...   0.416667
890   He's a hate-fuelled gay photographer from a do...   0.416667
361   He's a suave gay vagrant possessed of the unca...   0.416667

                                                   text  Sentiment
291   He's a hate-fuelled arachnophobic paramedic pl...     -0.875
1029  He's a leather-clad one-eyed filmmaker plagued...     -0.875
658   He's a hate-fuelled playboy firefighter plague...     -0.875
1026  He's an old-fashioned playboy grifter plagued ...     -0.875
109   He's a benighted drug-addicted messiah plagued...     -0.875
102   He's a one-legged devious paranormal investiga...     -0.875
91    He's a jaded Amish cowboy plagued by the memor...     -0.875
797   He's a war-weary zombie stage actor plagued by...     -0.875
65    He's an obese albino shaman plagued by the mem...     -0.875
607   He's a Nobel prize-winning umbrella-wielding s...     -0.875

In [5]:
femaleDF=femaleDF.sort_values('Sentiment',ascending=False)
femaleDF.head(10)
femaleDF.tail(10)

                                                  text  Sentiment
107  She's a mistrustful snooty detective with an i...        0.9
783  She's a tortured motormouth traffic cop with a...        0.9
521  She's a brilliant mute pearl diver on her way ...        0.9
301  She's a strong-willed hypochondriac mermaid wi...        0.9
753  She\'s a brilliant communist lawyer trying to ...        0.9
598  Shes's a brilliant streetsmart bounty hunter w...        0.9
284  She's a manipulative belly-dancing museum cura...        0.9
733  She\'s a scantily clad antique-collecting scho...        0.9
315  She's a brilliant impetuous soap star in the w...        0.9
157  She's a brilliant antique-collecting fairy pri...        0.9

                                                  text  Sentiment
194  She's a provocative belly-dancing socialite wi...       -1.0
259  She's a virginal African-American cab driver w...       -1.0
114  She's an orphaned mute stripper with an evil t...       -1.0
887  She's a warm-hearted mutant doctor with an evi...       -1.0
113  She's a man-hating green-skinned soap star wit...       -1.0
667  She's a strong-willed kleptomaniac politician ...       -1.0
457  She's a virginal streetsmart femme fatale with...       -1.0
367  She's a manipulative hip-hop snake charmer wit...       -1.0
465  She's a mistrustful tempestuous magician's ass...       -1.0
789  She's a sharp-shooting gypsy advertising execu...       -1.0

In [6]:
maleDF['TAGS'] = maleDF['text'].apply(lambda x: TextBlob(x).tags)
maleDF['ADJ'] = maleDF['TAGS'].apply(lambda x: list(filter(lambda i:i[1]=='JJ',x)))
maleDF.drop('TAGS',axis=1)

,text,Sentiment,ADJ
166,He's a superhumanly strong skateboarding rock ...,0.433333,"[(strong, JJ)]"
585,He's a superhumanly strong flyboy romance nove...,0.433333,"[(strong, JJ), (doomed, JJ)]"
52,He's a superhumanly strong devious ex-con who ...,0.433333,"[(strong, JJ), (devious, JJ)]"
84,He's a superhumanly strong vegetarian vagrant ...,0.433333,"[(strong, JJ), (vegetarian, JJ)]"
451,He's a superhumanly strong misogynist cat burg...,0.433333,"[(strong, JJ), (burglar, JJ)]"
...,...,...,...
102,He's a one-legged devious paranormal investiga...,-0.875000,"[(one-legged, JJ), (devious, JJ), (paranormal,..."
91,He's a jaded Amish cowboy plagued by the memor...,-0.875000,"[(jaded, JJ), (brutal, JJ)]"
797,He's a war-weary zombie stage actor plagued by...,-0.875000,"[(war-weary, JJ), (brutal, JJ)]"
65,He's an obese albino shaman plagued by the mem...,-0.875000,"[(obese, JJ), (brutal, JJ)]"
607,He's a Nobel prize-winning umbrella-wielding s...,-0.875000,"[(Nobel, JJ), (prize-winning, JJ), (umbrella-w..."

In [7]:
femaleDF['TAGS'] = femaleDF['text'].apply(lambda x: TextBlob(x).tags)
femaleDF['ADJ'] = femaleDF['TAGS'].apply(lambda x: list(filter(lambda i:i[1]=='JJ',x)))
femaleDF.drop('TAGS',axis=1)

,text,Sentiment,ADJ
107,She's a mistrustful snooty detective with an i...,0.9,"[(mistrustful, JJ), (incredible, JJ)]"
783,She's a tortured motormouth traffic cop with a...,0.9,"[(tortured, JJ), (incredible, JJ)]"
521,She's a brilliant mute pearl diver on her way ...,0.9,"[(brilliant, JJ)]"
301,She's a strong-willed hypochondriac mermaid wi...,0.9,"[(strong-willed, JJ), (incredible, JJ)]"
753,She\'s a brilliant communist lawyer trying to ...,0.9,"[(brilliant, JJ), (communist, JJ)]"
...,...,...,...
667,She's a strong-willed kleptomaniac politician ...,-1.0,"[(strong-willed, JJ), (evil, JJ)]"
457,She's a virginal streetsmart femme fatale with...,-1.0,"[(virginal, JJ), (fatale, JJ), (evil, JJ)]"
367,She's a manipulative hip-hop snake charmer wit...,-1.0,"[(manipulative, JJ), (evil, JJ)]"
465,She's a mistrustful tempestuous magician's ass...,-1.0,"[(mistrustful, JJ), (tempestuous, JJ), (evil, ..."
789,She's a sharp-shooting gypsy advertising execu...,-1.0,"[(sharp-shooting, JJ), (evil, JJ)]"

In [8]:
descriptor_list=[]

for i in maleDF['ADJ']: # flattening the list
       descriptor_list+=i
descriptors = [i[0] for i in descriptor_list]
cnt = Counter()
for i in descriptors:
    cnt[i]+=1
print("10 most common male descriptors")
cnt.most_common(10)

10 most common male descriptors

[('fast', 59),
 ('last', 52),
 ('wrong', 52),
 ('secret', 50),
 ('American', 46),
 ('oversexed', 35),
 ('scarred', 35),
 ('sweet-toothed', 34),
 ('maverick', 34),
 ('hate-fuelled', 33)]

In [9]:
descriptor_list=[]

for i in femaleDF['ADJ']: # flattening the list
       descriptor_list+=i
descriptors = [i[0] for i in descriptor_list]
cnt = Counter()
for i in descriptors:
    cnt[i]+=1
print("10 most common female descriptors")
cnt.most_common(10)

10 most common female descriptors

[('wrong', 105),
 ('powerful', 34),
 ('strong-willed', 33),
 ('manipulative', 33),
 ('thick-framed', 33),
 ('African-American', 32),
 ('time-travelling', 32),
 ('cynical', 32),
 ('artistic', 31),
 ('elegant', 31)]